<div id="contain">
	<div class="jumb">
  	<div class="container">
  		<div class="row">
  			<div class="col-md-6 col-sm-12">
  				<h2 id="home-motto">The most affordable and flexible Personal Trainers. Ever.</h2>
  				<br>
  				<h4 id="home-motto2">Finally, persnal trainers that bring variety into your work out routine. The best persnal Trainers all bookable now.</h4> <br>
  				<div id='button'>
  					<% if !user_signed_in? %>
  						<%= link_to 'Explore Saiyan', features_fitness_path, class: "btn btn-primary  btn-lg" %>
  					<% else %> 
  						<%= link_to 'Book Appointment', new_appointment_path, class: "btn btn-primary  btn-lg" %>
  					<% end %>
  				</div>
  				
  			</div>
  			<div class="col-md-6 col-sm-12">
  				<div class="jumbo">
  					<%= image_tag( "home/workout.png") %>

  					
  				</div>
  			</div>
  		</div>
  	</div>
	</div>
</div>



