body {
  background-color: #fff;
	color:#010812;
}

.menu{
	list-style: none;
  padding: 0;
  margin: 0;
  float: right;
 
}

.navbar-default .navbar-nav > li > a {
    color: #000;
    font-size: 14px;
    font-weight: 500;
}

.nav-menu{
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 400;
  cursor: pointer;	
}



/*
 color palette 
#010812
#0b212f
#44586a
#a2b4c3
#cdd4db
*/


#home-motto{
  font-size: 2.4em;
	padding-left: 50px;
	padding-top: 180px;
  text-transform: uppercase;
  letter-spacing: 3.15px;
  line-height: 45px;
}


#home-motto2{
  font-size: 1.5em;
  padding-left: 50px;
  padding-top: 20px;
  letter-spacing: 1.5px;
  line-height: 30px;
}



#button{
	text-align: center;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #010812;
  background-color: transparent;
  border-color: #cdd4db;
}

.btn-primary {
  color: black;
  background-color: transparent;
  border-color: #44586a;
}






@media (max-width: 767px){
	#home-motto{
    font-size: 1.5em;
    padding-left: 50px;
    padding-top: 80px;
    text-transform: uppercase;
    letter-spacing: 2.15px;
    line-height: 35px;
  }

  #home-motto2{
    font-size: 1.3em;
    padding-left: 50px;
    padding-top: 20px;
    letter-spacing: 1.5px;
    line-height: 25px
  }

  .jumbo{
      
  }

}


