// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





.about-us-page {
  max-width: 840px;
  margin: auto;
  color: #2e363f;
}

.about-us-links {
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #d4d9e0;
}	

.about-us-links li:first-child {
  text-align: right;
}

.about-us-links li:last-child {
  text-align: left;
}


.about-us-links li{
  display: inline-block;
  letter-spacing: 3.15px;
  width: 49%;
}

.t-smcap {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
}

.about-us-links__link.selected {
  border-bottom: 5px solid #2e363f;
}

.about-us-links__link {
  cursor: pointer;
  padding: 50px 80px 15px;
  display: inline-block;
  text-align: center;
}

a, a:focus, a:hover {
    text-decoration: none;
}

a {
  color: #2e363f;
}


@media only screen and (max-width: 768px){

  .about-us-links__link {
      width: 100%;
      padding: 40px 0 15px;
  }

  .about-us-links {
    margin-bottom: 40px;
  }

}
/*FAQ page */




.faq-text{
  padding: 20px 15px 60px;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: .05em;
 }

 .HIW{
    text-align: center;
 }

.faq-text h3{
  font-size: 24px;
  padding-bottom: 10px;
  padding-top: 20px;
  text-align: center;
}



@media only screen and (max-width: 768px){
  .faq-text h3{
    font-size: 20px;
  }

  .HIW-text{
    text-align: center;
  }
}






/*Our story page*/


.action {
  text-align: center;
  padding: 30px 10px;
  background-color: black;
  color: white;
  }

.action a {
  color: white;
}

.howitwork-text{
  padding: 30px 15px 60px;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: .05em;
 }

/*bolded text*/
#text1{
  font-size: 20px;
}


.howitwork-text p{
  padding-bottom: 10px;
}



@media only screen and (max-width: 768px){
  .howitwork-text{
    padding: 20px 15px 60px;
    width: 100%;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: .05em;
   }
  #text1{
    font-size: 18px;
  }

  .faq-text{
    padding: 20px 15px 60px;
    width: 100%;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: .05em;
   }
  
}









