<!-- Why choose saiyan page  -->
<div id="contain">
	<div class="about-us-page">
		<ul class="about-us-links">
			<!-- <li class="t-smcap "><a class="about-us-links__link selected" >FAQs</a></li> -->
			<li class="t-smcap "><%= link_to 'FAQ', features_fitness_path, :class => "about-us-links__link selected" %> </li>
			<li class="t-smcap "><%= link_to 'Our Story', features_howitworks_path, :class => "about-us-links__link selected" %> </li>
			
		</ul>
		<div class="faq-text">
			<h3> What is a Saiyan?</h3>		
			<p>A Saiyan is a warrior that does not quit. Saiyans push themselves to their limit. When a Saiyan fails, she becomes stronger and wiser as a result of learning from her mistakes. Saiyans are determined, hardworking and most importantly compassionate individuals. They help those in need. 
			</p>	

			<h3>How does Saiyan Works?</h3>
			<div class="row HIW-text">
				
				<div class="col-md-4 col-sm-12">
					<h3 class="HIW">1</h3>
					<p> Create a profile with your trainer preferences. 
						<!-- <br> You can change them whenever.</p> -->
					
				</div>

				<div class="col-md-4 col-sm-12">
					<h3 class="HIW">2</h3>
					<p> Book Personal training date</p>
					 
				</div>

				<div class="col-md-4 col-sm-12">
					<h3 class="HIW">3</h3>
					<p> Begin your journey to becoming a Saiyan. </p>		
				</div>

			</div>

			<h3>How much does Saiyan cost?</h3>
			<p>While most gyms mark up the prices of personal trainers, we offer Personal Training at $40/hr and $25 30min sessions. </p>

			<h3>Do you take insurance for physical therapy?</h3>
			<p>We are not contracted with any insurance providers at this time. We offer comparable to the out-of-pocket co-pays and deductibles you would pay at conventional clinics.
			</p>

			<h3>Can I stick with the same trainer?</h3>
			<p>You are more than capable of continuing your workout sessions with the same trainer. Just select a date and time that the trainer has available!</p>
		</div>
	</div>
</div>


