<div id="contain">
	<div class="about-us-page">
		<ul class="about-us-links">
			<!-- <li class="t-smcap "><a class="about-us-links__link selected" >FAQs</a></li> -->
			<li class="t-smcap "><%= link_to 'FAQ', features_fitness_path, :class => "about-us-links__link selected" %> </li>
			<li class="t-smcap "><%= link_to 'Our Story', features_howitworks_path, :class => "about-us-links__link selected" %> </li>
			
		</ul>
		<div>
		
			<p>Saiyan's trainers take a preventative and relationship-driven approach to personal training, with an emphasis on nutrition and lifestyle, to help you tap into your inner Saiyan. </p>
			
		</div>
	</div>
</div>