<style>

</style>

<div id="contain">
	<div class="about-us-page">
		<ul class="about-us-links">
			<!-- <li class="t-smcap "><a class="about-us-links__link selected" >FAQs</a></li> -->
			<li class="t-smcap "><%= link_to 'FAQ', features_fitness_path, :class => "about-us-links__link selected" %> </li>
			<li class="t-smcap "><%= link_to 'Our Story', features_howitworks_path, :class => "about-us-links__link selected" %> </li>
			
		</ul>
		<div class="howitwork-text">
		
			<p>Saiyan's trainers take a preventative and relationship-driven approach to personal training, with an emphasis on nutrition and lifestyle, to help you tap into your inner Saiyan. </p>

			<p><b id="text1"> Specialized.Customized.Effective.</b> Personal Training focuses on specific activities and is guided by competent trainers. You'll be coached through a workout designed to maximize efficiency and deliver results all while being supported and motivated by the Saiyan's community and team. It's workouts taken to the next level. With every workout planned and programmed you'll maximize every minute. </p>

			<p><b>Saiyan trainers are well-versed and have committed to a life of wellness. So, if you're recovering from an injury or training for a race, every workout can be adjusted for you. </b></p>

			<h3>Results-driven</h3>
			<p>
				The reason so many workout routines do not work, people get bored. That's where we come in! Saiyan commits to you and your goals. We connect you to effective workouts, guaranteeing that you'll come back for more. 
			</p>

			<div class="action" >
				
				<h3> <%= link_to 'What are you waiting for? Get Started!', new_user_registration_path %> </h3>

			</div>
			
		</div>
	</div>
</div>